body {
    background-color: #141218;
    color: #FFF8F3;
    font-family: Roboto;
}

.title {
    background-color: #FFF8F3;
    color: #141218;
}

.content {
    background-color: #FFF8F3;
    color: #141218;
    padding: 50px;
}

trix-editor {
    background-color:white;
}

.footer {
    margin-top: 100px;
}